.app-header {
  background-color: #282c34;
  height: 100%;

  h1 {
    color: #61dafb;
    font-size: 45px;
    text-align: center;
  }

  p {
    color: white;
    padding-top: 15px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.01em;
    font-weight: 200;
  }

  .logos {
    img {
      display: block;
      margin: auto;
      height: 80px;
      width: auto;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
}